.main {
  background-color: #0C2233;
  color: white;
  height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
}

.spOfferTitleDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.SOTCDiv {
  display: flex;
  justify-content: center;

}