.main {
  background-color: black;
  color: white;
  /* height: 100vh; */
  overflow-x: hidden;
  /* overflow: hidden; */
  margin-bottom: 10vh;
  /* width: 90vw; */
}

.spOfferTitleDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.SOTCDiv {
  display: flex;
  justify-content: center;

}

.DAGTitleDiv {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.DAGCards {
  display: flex;
  justify-content: space-evenly;
  /* gap: 10vw; */
}

.footerDiv {
  margin-top: 5vh;
}